^ """
<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="500" role="img" viewBox="0 0 1000 500"
     style="pointer-events: all; width: 100%; height: 100%;">
    <g role="presentation">

        <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950" y1="450" y2="450"
              style="stroke: rgb(144, 164, 174); fill: transparent; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></line>

        <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950" y1="317" y2="317"
              style="stroke: rgb(144, 164, 174); fill: transparent; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></line>

        <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950" y1="184" y2="184"
              style="stroke: rgb(144, 164, 174); fill: transparent; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></line>
        <text direction="inherit" dx="0" x="500" y="480.26" id="chart-axis-0-axisLabel-0">
            <tspan x="500" dx="0" dy="0" text-anchor="middle"
                   style="padding: 20px; text-anchor: middle; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                Расход, м³/ч
            </tspan>
        </text>

        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="237.5"
                  x2="237.5" y1="450" y2="50"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="237.5"
                  x2="237.5" y1="450" y2="455"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="237.5" y="466.26" id="chart-axis-0-tickLabels-0.5">
                <tspan x="237.5" dx="0" dy="0" text-anchor="middle"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.5
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="425"
                  x2="425" y1="450" y2="50"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="425"
                  x2="425" y1="450" y2="455"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="425" y="466.26" id="chart-axis-0-tickLabels-1">
                <tspan x="425" dx="0" dy="0" text-anchor="middle"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    1
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="612.5"
                  x2="612.5" y1="450" y2="50"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="612.5"
                  x2="612.5" y1="450" y2="455"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="612.5" y="466.26" id="chart-axis-0-tickLabels-1.5">
                <tspan x="612.5" dx="0" dy="0" text-anchor="middle"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    1.5
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="800"
                  x2="800" y1="450" y2="50"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="800"
                  x2="800" y1="450" y2="455"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="800" y="466.26" id="chart-axis-0-tickLabels-2">
                <tspan x="800" dx="0" dy="0" text-anchor="middle"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    2
                </tspan>
            </text>
        </g>
    </g>
    <g role="presentation">
        <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="50" y1="50" y2="450"
              style="stroke: rgb(144, 164, 174); fill: transparent; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></line>


        <text direction="inherit" x="55" y="65" id="chart-axis-0-axisLabel-10">
            <tspan dx="0" dy="0"
                   style="padding: 20px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                Гидравлический КПД,%
            </tspan>
        </text>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="157.45414760112" y2="157.45414760112"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="157.45414760112" y2="157.45414760112"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="157.45414760112"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    10
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="130.90829520223" y2="130.90829520223"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="130.90829520223" y2="130.90829520223"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="130.90829520223"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    20
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="104.36244280335" y2="104.36244280335"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="104.36244280335" y2="104.36244280335"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="104.36244280335"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    30
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="77.81659040447" y2="77.81659040447"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="77.81659040447" y2="77.81659040447"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="77.81659040447"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    40
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="51.270738005587" y2="51.270738005587"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="51.270738005587" y2="51.270738005587"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="51.270738005587"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    50
                </tspan>
            </text>
        </g>

        <text direction="inherit" x="55" y="198" id="chart-axis-0-axisLabel-20">
            <tspan dx="0" dy="0"
                   style="padding: 20px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                Мощность на валу, кВт
            </tspan>
        </text>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="293.90284522483" y2="293.90284522483"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="293.90284522483" y2="293.90284522483"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="293.90284522483"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.02
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="270.80569044967" y2="270.80569044967"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="270.80569044967" y2="270.80569044967"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="270.80569044967"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.04
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="247.7085356745" y2="247.7085356745"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="247.7085356745" y2="247.7085356745"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="247.7085356745"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.06
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="224.61138089934" y2="224.61138089934"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="224.61138089934" y2="224.61138089934"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="224.61138089934"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.08
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="201.51422612417" y2="201.51422612417"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="201.51422612417" y2="201.51422612417"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="201.51422612417"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    0.1
                </tspan>
            </text>
        </g>

        <text direction="inherit" x="55" y="332" id="chart-axis-0-axisLabel-30">
            <tspan dx="0" dy="0"
                   style="padding: 20px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                NPSH-значения, м
            </tspan>
        </text>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="422.21076911939" y2="422.21076911939"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="422.21076911939" y2="422.21076911939"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="422.21076911939"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    1
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="394.42153823878" y2="394.42153823878"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="394.42153823878" y2="394.42153823878"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="394.42153823878"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    2
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="366.63230735817" y2="366.63230735817"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="366.63230735817" y2="366.63230735817"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="366.63230735817"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    3
                </tspan>
            </text>
        </g>
        <g role="presentation">
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="950"
                  y1="338.84307647756" y2="338.84307647756"
                  style="stroke: rgb(236, 239, 241); fill: none; stroke-dasharray: 10, 5; stroke-linecap: round; stroke-linejoin: round; pointer-events: painted;"></line>
            <line vector-effect="non-scaling-stroke" role="presentation" shape-rendering="auto" x1="50" x2="45"
                  y1="338.84307647756" y2="338.84307647756"
                  style="stroke: rgb(144, 164, 174); fill: transparent; size: 5px; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round;"></line>
            <text direction="inherit" dx="0" x="44" y="338.84307647756"
                  id="chart-axis-1-tickLabels-0">
                <tspan x="44" dx="0" dy="0" text-anchor="end"
                       style="padding: 1px; font-family: &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 12px; letter-spacing: normal; fill: rgb(69, 90, 100); stroke: transparent; stroke-width: 0;">
                    4
                </tspan>
            </text>
        </g>
    </g>
    <g clip-path="url(#victory-clip-he-curve)" style="height: 100%; width: 100%; user-select: none;">
        <defs>
            <clipPath id="victory-clip-he-curve">
                <rect vector-effect="non-scaling-stroke" x="50" y="50" width="900" height="133"></rect>
            </clipPath>
        </defs>
        <path
            d=M350,93.863267343235L387.5,87.23480866748L425,81.408676931433L462.5,76.384872135093L500,72.16339427846L537.5,68.744243361535L575,66.127419384317L612.5,64.312922346807L650,63.300752249004L687.5,63.090909090909L725,63.683392872521L762.5,65.078203593841L800,67.275341254868L837.5,70.274805855603L875,74.076597396045L912.5,78.680715876195L950,84.087161296052
            role="presentation" shape-rendering="auto"
            style="fill: transparent; stroke: blue; opacity: 1; stroke-width: 2;"></path>
    </g>
    <g clip-path="url(#victory-clip-shp-curve)" style="height: 100%; width: 100%; user-select: none;">
        <defs>
            <clipPath id="victory-clip-shp-curve">
                <rect vector-effect="non-scaling-stroke" x="50" y="183" width="900" height="133"></rect>
            </clipPath>
        </defs>
        <path
            d=M350,227.4215470488L387.5,223.37439083306L425,219.60701276282L462.5,216.11941283809L500,212.91159105887L537.5,209.98354742516L575,207.33528193695L612.5,204.96679459425L650,202.87808539706L687.5,201.06915434537L725,199.5400014392L762.5,198.29062667852L800,197.32103006336L837.5,196.6312115937L875,196.22117126955L912.5,196.09090909091L950,196.24042505777
            role="presentation" shape-rendering="auto"
            style="fill: transparent; stroke: blue; opacity: 1; stroke-width: 2;"></path>
    </g>
    <g clip-path="url(#victory-clip-npsh-curve)" style="height: 100%; width: 100%; user-select: none;">
        <defs>
            <clipPath id="victory-clip-npsh-curve">
                <rect vector-effect="non-scaling-stroke" x="50" y="316" width="900" height="133"></rect>
            </clipPath>
        </defs>
        <path
            d=M350,428.57265056092L387.5,432.21897810092L425,434.55011412334L462.5,435.56605862817L500,435.26681161542L537.5,433.65237308509L575,430.72274303717L612.5,426.47792147167L650,420.91790838859L687.5,414.04270378792L725,405.85230766967L762.5,396.34672003384L800,385.52594088042L837.5,373.38997020942L875,359.93880802083L912.5,345.17245431466L950,329.09090909091
            role="presentation" shape-rendering="auto"
            style="fill: transparent; stroke: blue; opacity: 1; stroke-width: 2;"></path>
    </g>











</svg>
"""
