/*.ant-form-vertical .ant-form-item-reduced .ant-form-item-label {*/
/*    padding-bottom: 0px !important;*/
/*}*/

/*.ant-form-vertical .ant-form-item-reduced {*/
/*    margin-bottom: 1px !important;*/
/*}*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* FORMS */
.ant-form-vertical .ant-form-item-reduced .ant-form-item-label {
    padding-bottom: 0 !important;
}

.ant-form-vertical .ant-form-item-reduced {
    margin-bottom: 1px !important;
}

.ant-form-horizontal .ant-form-item-reduced {
    margin-bottom: 1px !important;
}

.ant-form-vertical .ant-form-item-reduced-bottom {
    margin-bottom: 5px;
}

/* EDITABLE TABLE */
.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

/*LAYOUTS*/
.main-layout {
    min-height: 100vh;
}

.main-layout .outer-content-layout {
    margin-top: 64px;
}

.main-layout .outer-content-layout .inner-content-layout {
    margin: 16px 16px 0;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

/*.trigger {*/
/*    color: white;*/
/*    !*padding: 0 24px;*!*/
/*    font-size: 18px;*/
/*    !*line-height: 64px;*!*/
/*    cursor: pointer;*/
/*    transition: color 0.3s;*/
/*}*/

/*.trigger:hover {*/
/*    color: #1890ff;*/
/*}*/

button, input, textarea, .ant-select-selector, .ant-input-password, .ant-input-number, .ant-select-selection-item {
    border-radius: 7px !important;
}

.ant-switch {
    border-radius: 100px !important;
}

.ant-input-number-handler-wrap {
    border-radius: 0 7px 7px 0 !important;
}

/*.virtual-table-cell {*/
/*    box-sizing: border-box;*/
/*    padding: 16px;*/
/*    border-bottom: 1px solid #e8e8e8;*/
/*    background: #FFF;*/
/*}*/

/*[data-theme="dark"] .virtual-table-cell {*/
/*    box-sizing: border-box;*/
/*    padding: 16px;*/
/*    border-bottom: 1px solid #303030;*/
/*    background: #141414;*/
/*}*/

/*.auth-content-layout {*/
/*    margin: 16px 16px 0;*/
/*    display: flex;*/
/*    flex: auto;*/
/*    flex-direction: column;*/
/*}*/

.series-checkboxes label {
    width: 90%;
}

.flex-rounded-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-rounded-card .ant-card-body {
    flex: auto;
    display: flex;
}

/*.flex-rounded-card .ant-card-body {*/
/*    !*display: flex;*!*/
/*    !*flex: auto;*!*/
/*    !*margin-top: 25%;*!*/
/*    !*height: 100%;*!*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    padding: 0 !important;*/
/*}*/

.table-rounded-card .ant-card-body {
    height: 100%;
    padding: 0 !important;
}

/* ROUNDED CARD */
.rounded-card {
    border-radius: 10px;
}

.rounded-card .rounded-card-full-body .ant-card-body {
    height: 100%;
}

.ant-tree .ant-tree-node-content-wrapper {
    padding: 0 0px !important;
}
