/*.ant-form-vertical .ant-form-item-reduced .ant-form-item-label {*/
/*    padding-bottom: 0px !important;*/
/*}*/

/*.ant-form-vertical .ant-form-item-reduced {*/
/*    margin-bottom: 1px !important;*/
/*}*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ant-form-vertical .ant-form-item-reduced .ant-form-item-label {
    padding-bottom: 0px !important;
}

.ant-form-vertical .ant-form-item-reduced {
    margin-bottom: 1px !important;
}

.ant-form-horizontal .ant-form-item-reduced {
    margin-bottom: 1px !important;
}

.ant-form-vertical .ant-form-item-reduced-bottom {
    margin-bottom: 5px;
}

.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}
